.icono {
    width: 5%; /* Cambia el ancho del icono según tus preferencias */
    height: 5%; /* Cambia la altura del icono según tus preferencias */
    margin-right: 3%; /* Agrega margen derecho al icono para separarlo del texto */
     }

/* Establece el fondo del Navbar como transparente */
.navbar {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

/* Asegúrate de que el contenido del Navbar sea visible sobre el fondo transparente */
.navbar-brand,
.navbar-nav .nav-link {
  color: rgb(133, 146, 158); /* Puedes ajustar el color del texto según tus preferencias */
}

/* Cambia el color del botón del Navbar al expandir */
.navbar-toggler-icon {
  background-color: white; /* Puedes ajustar el color según tus preferencias */
}
