.icono {
    width: 5%; /* Cambia el ancho del icono según tus preferencias */
    height: 5%; /* Cambia la altura del icono según tus preferencias */
    margin-right: 3%; /* Agrega margen derecho al icono para separarlo del texto */
   

  }
  
